.apropos {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apropos h1 {
    text-align: center;
    color: #c90000;
    margin-bottom: 20px;
}

.apropos section {
    margin-bottom: 30px;
}

.apropos h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}


.province-boxes, .mission-boxes, .valeur-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
}

.province-box, .mission-box, .valeur-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.province-box:hover, .mission-box:hover, .valeur-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.province-box h3, .mission-box h3, .valeur-box h3 {
    color: #c90000;
    margin-bottom: 10px;
}

.province-box p, .mission-box p, .valeur-box p {
    color: #555;
}

.stars {
    font-size: 20px; 
    color: #ffcc00; 
    margin: 5px 0; 
}

.temoignage-box {
    border-radius: 8px;
    padding: 15px; 
    margin: 10px 0; 
    background: #f9f9f9;
    transition: box-shadow 0.3s ease; }

.temoignage-box:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.avatar {
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    object-fit: cover; 
    margin-right: 10px; 
}
