.profile {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.profile-info,
.profile-orders {
    margin-bottom: 20px;
}

.profile-orders table {
    width: 100%;
    border-collapse: collapse;
}

.profile-orders th, .profile-orders td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.profile-orders th {
    background-color: #f2f2f2;
}


.profile-actions {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
    flex-wrap: wrap; /* Permettre à la ligne de se plier si l'espace est insuffisant */
}

.action-button {
    margin: 10px; /* Ajoute une marge autour des boutons */
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    flex: 1 1 auto; /* Permet aux boutons de s'ajuster à l'espace disponible */
    min-width: 150px; /* Largeur minimale pour les boutons */
}

.action-button:hover {
    background-color: #0056b3;
}

.order-history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-history th,
.order-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.order-history th {
    background-color: #f2f2f2;
}

.order-history button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #28a745; /* Couleur pour le bouton de modification */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-history button:hover {
    background-color: #218838; /* Couleur au survol */
}

.order-history button:last-child {
    background-color: #dc3545; /* Couleur pour le bouton d'annulation */
}

.order-history button:last-child:hover {
    background-color: #c82333; /* Couleur au survol */
}